body {
	font-family:SystemFont;
	background-color:rgba(0,0,0,0);
    color: #fff;
    text-align: center;
	-webkit-appearance: none;
	-moz-appearance:none;
	appearance:none;
}

table, th, td {
	color:#fff;
	border-bottom: 3px solid #3E3E3E;
	border-left: 3px solid #3E3E3E;
	border-right: 3px solid #3E3E3E;
}


.inputfield{
	color:#fff;
	margin-bottom:16px;
	width:312px;
	height:24px;
	background-color:#3E3E3E;
	border-radius: 6px;
	border:0px;
	-webkit-appearance: none;
}

.container{
	margin:0px;
	padding:0px;
    background-color:#202020;
	display:block;
	border-radius: 10px;
	box-shadow:0px 3px 6px rgba(0,0,0,0.57); 
}

.box_header{
	margin-bottom:13px;
	padding-top:0px;
	padding-bottom:2px;
	display:block;
	height:25px;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	background-color:#2E77FE;
	margin-left:0px;
	-webkit-app-region:drag;
	font-size:20px;
}

.button_regular{
	margin-bottom:13px;
	font-size:15px;
	font-family:SystemFont;
	background-color:#202020;
	border: 2px solid #2E77FE;
	border-radius:6px;
	color:#2E77FE;
	height:27px;
	cursor: pointer;
}
.button_regular:hover{
	background-color:#2E77FE;
	border: 2px solid #2E77FE;
	border-radius:6px;
	color:#fff;
	height:27px;
}
.button_regular:active{
	background-color:#1A38AF;
	border: 2px solid #1A38AF;
	border-radius:6px;
	color:#fff;
	height:27px;
}

.table_regular{
	width: 100%;
	border-collapse: collapse;
}
#buttonZ img:first-child {
	padding:0px;
	display: inline-block;
	-webkit-app-region:none;
}
#buttonZ img:last-child {
	padding:0px;
	display: none;
	-webkit-app-region:none;
}
#buttonZ:hover img:last-child {
	padding:0px;
	display: inline-block;
	-webkit-app-region:none;
}
#buttonZ:hover img:first-child {
	padding:0px;
	display: none;
	-webkit-app-region:none;
}

.appfunction_close{
	position:fixed;
	width:35px;
	height:27px;
	display:inline-block;
	background-color:#1A38AF;
	border-top-right-radius: 10px;
	-webkit-app-region:none;
	user-select: none;
}
.appfunction_close:hover{
	background-color:#E2114A;
}

@font-face {
  font-family: SystemFont;
  src: url(../font/segoe-ui-semibold.ttf);
}



